<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="name-store"> Store</span>
      <div class="background-search-bar">
        <input matInput type="text" placeholder="Search for products..." />
        <button class="search-button" mat-icon-button>
          <mat-icon matSuffix class="search">search</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>
        <mat-nav-list class="list-horizontal">
          categorias
          <mat-list-item>ss</mat-list-item><mat-list-item>ss</mat-list-item>
        </mat-nav-list>
      </span>
      <span class="spacer"></span>
      <span class="user-information"> Dummy Rodriguez </span>
      <a> cart </a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
