<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="name-store"> Store</span>

      <div class="background-search-bar">
        <input #searchBar [formControl]="mySearchBar" matInput type="text" placeholder="Search for products..." [matAutocomplete]="searchAuto" />
        <button *ngIf="productListSearched$ | async as productList" class="search-button" mat-icon-button (click)="searchProduct(searchBar.value, productList)">
          <mat-icon matSuffix class="search">search</mat-icon>
        </button>
        <mat-autocomplete #searchAuto="matAutocomplete">
          <mat-option *ngFor="let product of productListSearched$ | async" [routerLink]="['/product', product.id, product.slug]" [value]="product.name">
            {{ product.name }}
          </mat-option>
        </mat-autocomplete>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span> categorias </span>
      <mat-nav-list class="category-list">
        <mat-list-item routerLink="/"> Home </mat-list-item>
        <mat-list-item *ngFor="let category of categoryList$ | async" (click)="filterByCategory(category.name)">{{ category.name }}</mat-list-item>
      </mat-nav-list>
      <span class="spacer"></span>
      <button [matMenuTriggerFor]="menu" mat-button>
        <mat-icon>menu</mat-icon>
        Dummy Rodriguez
      </button>
      <mat-menu #menu>
        <mat-card class="menu-header">
          <mat-card-header *ngIf="userProfile$ | async as userProfile">
            <img src="assets/applaudo_user-icon.png" />
            Welcome {{ userProfile.name | titlecase }}
          </mat-card-header>
          <mat-card-header *ngIf="isLoggedOut$ | async"> Welcome! Please sign in to enjoy our products </mat-card-header>
        </mat-card>

        <button *ngIf="isLoggedIn$ | async" mat-menu-item (click)="logOut()">LogOut</button>
        <button *ngIf="isLoggedOut$ | async" mat-menu-item routerLink="/login">Log In</button>
      </mat-menu>
      <button mat-icon-button routerLink="/cart">
        <mat-icon> shopping_cart </mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
