@import "functions";
@import "variables";
@import "mixins";

.name-store {
  padding-right: 8rem;
  font-size: sizes("bold");
}

mat-toolbar-row {
  @include flex(row, flex-start);
  padding: 0.2rem 5rem;

  &:nth-child(1) {
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  }

  &:nth-child(2) {
    padding: 2.5rem 5.2rem;
  }
}

.background-search-bar {
  background-color: white;
  width: 50%;
  border: 2px solid rgb(55, 55, 55);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.42);

  input {
    padding: 0.5rem;
    font-size: large;
    width: 90%;
    background: transparent;
    border: none;
    outline: 0;

    &::after {
      content: " ";
      position: absolute;
      right: 0;
    }
  }
}

.search-button {
  color: rgba(0, 0, 0, 0.42);
}

.spacer {
  flex: 1 1 auto;
}

.menu-header {
  @include flex(column, space-between);

  flex-wrap: wrap;
  padding: 0 0.5rem;
  margin-top: -8px;
  top: 0;

  width: auto;

  mat-card-header {
    @include flex(none, space-around);

    height: 5rem;
    padding-left: 0;
    margin-top: 22px;
    text-align: center;
    img {
      --size: 40px;
      height: var(--size);
      width: var(--size);

      margin-right: 10px;
    }
  }

  mat-card-subtitle {
    @include flex(row, flex-start);
    align-items: center;
    gap: 0.3rem;

    text-align: center;
  }
}

.category-list {
  overflow-x: auto;
  width: 70vw;
  padding: 0;
  mat-list-item {
    display: inline-block;
    width: auto;
  }
}
