$font-sizes: (
  "enormous": 60px,
  "bold": 30px,
  "semibold": 20px,
  "medium": 18px,
  "regular": 16px,
  "small": 14px,
  "smallest": 12px,
);

$colors: (
  "accent": #ff4081,
  "primary": #3f51b5,
  "black": #1a1a1a,
  "light": #e6e6e6,
  "white": #f2f2f2,
  "gray": #747474,
  "warning": #fae4e1,
  "warning font": #9e4b47,
  "warning soft": #e1d0cf,
);

$border-radius: 1rem;
